:root {
    --text-font: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: Norse;
    src: url(./Norse-Bold.otf);
    font-weight: bold;
}

em {
    font-style: italic;
}

body {
    box-sizing: border-box;
}

main {
    display: flex;
    min-height: 100vh;

    font-family: var(--text-font);
}

.img {
    width: 30vw;

    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    padding: 7px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 20%;
}

.background img {
    width: 70px;
}

.background h1 {
    color: white;
    font-family: Norse;
    font-weight: bold;
    font-size: 4rem;
}

.img footer {
    color: white;
    padding: 5px;
    text-align: center;

    position: absolute;
    top: 93%;
}

footer a {
    color: white;
}

.content {
    width: 70vw;
    background-color: whitesmoke;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

p {
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.2rem;
}

.content > :not(form) {
    margin: 0 100px 0 50px;
}

.content > :first-child {
    margin-top: 30px;
}

.content > :nth-child(2) {
    margin-bottom: 25px;
}

.content > :nth-child(3) {
    margin-bottom: 50px;
}

form > button {
    margin: 25px 50px;
    padding: 12px 45px;

    background-color: #596d48;
    border: none;
    border-radius: 5px;

    color: white;
    font-weight: bold;
}

section {
    font-size: 0.875rem;
    padding-bottom: 30px;
}

section a {
    text-decoration: none;
    color: #596d48;
    font-weight: bold; 
}

.container {
    background-color: white;
    padding: 25px 50px;
}

.container p {
    color: #303030;
    font-size: 1.125rem;
    margin-bottom: 25px;
}